*.iml
/local.properties
/.idea
/.gradle
gradlew
settings.gradle
/gradle
/.settings
.DS_Store
/app/build/*
/app/debug/*
/app/.settings/*
/app/.classpath
/app/src/*
*.json
/captures
.externalNativeBuild
*/.lock
*.project
*/.json
*.bat
.gradlew
.project
gradle.properties